header.header
  a.header__logo.logo(href='/')
    img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
    span.logo__name Типотека
    nav.header__nav
      ul.header__nav-list
        if user
          li.header__list-item
            p #{user.name}
          li.header__list-item
            a.header__exit(href='/logout') Выйти
        else
          li.header__list-item
            a.header__popup(href='/register') Регистрация
          li.header__list-item
            a.header__enter(href='/login') Вход с паролем
    if user
      a.header__avatar.avatar
        img(src=`/img/${user.avatar}` alt=`Аватар пользователя ${user.name}`)
    if user && user.isBlogOwner
      button.button.button--colored.header__button-new Новая запись
      .header__dropdown
        a.button.button--burger.header__burger(href='#') Открыть меню
        ul.navigation.header__navigation
          li.navigation__item
            a(href='/') main.html --- Главная страница
  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
